<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Nuevo Contaco</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <style>
            .invalid-feedback{
                display: block
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="container text-center" style="margin: 30px">
                <h3>Agregar Contacto</h3>
            </div>
            <div class="container ">
                <form th:action="@{/nuevo}"  th:object="${contacto}" method="post" novalidate>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" 
                               th:field="*{nombre}" th:errorclass="is-invalid">
                        <div class="invalid-feedback" th:errors="*{nombre}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="fechaNacimiento" class="form-label">Fecha Nacimineto</label>
                        <input type="date" class="form-control" id="fechaNacimiento" 
                               name="fechaNacimiento" th:field="*{fechaNacimiento}" th:errorclass="is-invalid">
                        <div class="invalid-feedback" th:errors="*{fechaNacimiento}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="telefono"
                               name="telefono"  th:field="*{telefono}" th:errorclass="is-invalid">
                        <div class="invalid-feedback" th:errors="*{telefono}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" 
                               name="email" th:field="*{email}" th:errorclass="is-invalid">
                        <div class="invalid-feedback" th:errors="*{email}"></div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="/" class="btn btn-secondary">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
    </body>
</html>
